<h1>Password Check</h1>

<form class="" action="check_password" method="get">
  <label for="user_id">User ID</label>
  <input type="text" name="user_id" value="">
  <label for="password">Password</label>
  <input type="password" name="password" value="">
  <input type="submit" value="Submit">
</form>
